# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/raw/*.csv
data/processed/*.csv



# Environment / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db